 <div class="header col-xs-12"> 
  <%= link_to "Next Episode", swipes_watch_path, :class => "btn btn-primary"  %>
  <%= link_to "Done!", sessions_remote_path, :class => "btn btn-primary"  %>
</div>
<div class="reactions">
  <div class="col-xs-12 reactorContainer">
    <div class="reactorBox">
      <%= image_tag "re-actors/gif.gif", :class => "reactGif", :id => "showImg"  %>
      <h4 id="showGenre"></h4>
    </div>
    <div class="col-xs-12 nameBox">
      <h4><b>BigBearHug</b></h4>
    </div>
  </div>

  <div class="col-xs-12 reactorContainer">
    <div class="reactorBox col-xs-12 quote">
      <h2><i>"I can't believe Claire and Sylar!! #SaveTheCheerleader #SaveTheWorld"</i></h2>
    </div>
    <div class="col-xs-12 nameBox">
      <h4> <b>Jill Murphy</b></h4>
    </div>
  </div>

  <div class="col-xs-12 reactorContainer">
    <div class="reactorBox">
      <%= image_tag "re-actors/photo.jpg", :class => "reactGif", :id => "showImg"  %>
      <h4 id="showGenre"></h4>
    </div>
    <div class="col-xs-12 nameBox">
      <h4> <b>Sinan Guclu</b></h4>
    </div>
  </div>
</div>

<script type="text/javascript">
  var new_reaction_url = '<%= url_for(reactions_new_path) %>';
  var get_reactions_url = '<%= url_for(reactions_get_path) %>';
</script>