<div class="col-xs-12 swipeContainer">
	<div class="gifBox">
		<%= image_tag "http://placehold.it/300x300", :class => "showGif draggable drag-drop", :id => "showImg"  %>
	</div>
	<div class="infoBox">
		<div class="col-xs-12">
			<div class="profilePic">
        <%= image_tag "http://placehold.it/150x150" %>
			</div>
			<h3 id="showTitle"></h3> 
			<h4 id="reaction"><span id="namez">Jill Murray</span> "This app is awesome!"</h4>
		</div>
	</div>	
</div>
<div class="col-xs-12 dPad">
	<div class="row1 dropzone">
		<%= image_tag "play.svg", :class => "play", :id => "watch" %>
	</div>
	<div class="row2">
		<%= image_tag "noLike.svg", :class => "noLike", :id => "dontLike" %>
		<%= image_tag "info.svg", :class => "info", :id => "moreInfo" %>
		<%= image_tag "like.svg", :class => "like", :id => "like" %>
	</div>
	<div class="row3">
		<%= image_tag "watched.svg", :class => "watched", :id => "watched" %>
	</div>
</div>


<script type="text/javascript">
  var suggest_show_url = '<%= url_for(swipes_suggest_show_path) %>';
  var watched_show_url = '<%= url_for(swipes_watched_path) %>';
  var like_show_url = '<%= url_for(swipes_like_path) %>';
  var dislike_show_url = '<%= url_for(swipes_dont_like_path) %>';
  var watch_show_url = '<%= url_for(swipes_watch_path) %>';
  var show_info_url = '<%= url_for(swipes_info_path) %>';
</script>