

<div class="col-xs-12">
	<%= image_tag "http://placehold.it/300x300", :class => "showGif", :id => "showImg"  %>
	<h2 id="showTitle"></h2>
	<h3 id="showGenre"></h3>

</div>





<script>
var suggest_show_url = '<%= url_for(swipes_suggest_show_path) %>';
var watched_show_url = '<%= url_for(swipes_watched_path) %>';
var like_show_url = '<%= url_for(swipes_like_path) %>';
var dislike_show_url = '<%= url_for(swipes_dont_like_path) %>';
var watch_show_url = '<%= url_for(swipes_watch_path) %>';
</script>
